<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harujogak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.HaruJogak">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="TimeTableList" android:name=".TimeTableListActivity"/>
        <activity android:label="TimeTableEdit" android:name=".TimeTableEditActivity"/>
        <activity android:label="GoalActivity" android:name=".GoalActivity"/>
        <activity android:label="GoalAddActivity" android:name=".GoalAddActivity"/>
        <activity android:label="CalendarActivity" android:name=".ScheduleActivity"/>
        <activity android:label="LoginActivity" android:name=".LoginActivity"></activity>
        <activity android:label="Rating" android:name=".Rating" />
        <activity android:label="SignUpActivity" android:name=".SignUpActivity"/>
        <activity android:label="Login2" android:name=".Login2"/>
    </application>

</manifest>